# Core functionality - changes here should be rare!
/src/app.py                   @DonovanMMM
/src/backend/database.py      @DonovanMMM
/src/backend/routers/auth.py  @DonovanMMM

# The frontend will need refactored soon to be more object oriented.
/src/static/   @DonovanMMM
